.profile {
  color: white;
  display: flex;
  max-width: 880px;
  padding: 40px 0 50px;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {

  .profile{
    max-width: 100%;
    margin: 0;
    flex-direction: column;
    padding: 40px 0 37px;
  }
}