.profile__edit {
  background-image: url(../../../images/editbutton.svg);
  width: 24px;
  height: 24px;
  margin: 27px 0 0 18px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.profile__edit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .profile__edit {
    width: 18px;
    margin: 30px 0 0 0;
    height: 18px;
    background-size: cover;
  }
}