.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  overflow: hidden;
}