.register__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 50px;
}

@media screen and (max-width: 767px) {
  .register__title {
    font-size: 20px;
    line-height: 24px;
  }
}
